#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #88d50b;
}

main {
  display: block;
}

body {
  font-family: -apple-system, Blink, MacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin: 0;
}

img {
  display: block;
  border: #000; 
}

#image {
  display: flex;
  margin: 0 auto 0 auto;
  max-width: 25%;
  height: auto;
  
}
